<!DOCTYPE html>
<html>
<body>
    <h2>Aegis Flow Traffic Predictor</h2>
    <form method="POST" action="/predict/">
        {% csrf_token %}
        <input name="length" placeholder="Road Length (km)" required><br>
        <input name="speed" placeholder="Avg Speed" required><br>
        <input name="time" placeholder="Travel Time" required><br>
        <input name="routes" placeholder="Alt Routes" required><br>
        <input name="score" placeholder="Suitability Score" required><br>
        <input name="weather" placeholder="Weather (e.g. cloudy)" required><br>
        <input name="source" placeholder="Source City (e.g. Lagos)" required><br>
        <button type="submit">Predict Traffic</button>
    </form>
</body>
</html>